<main class="grid divide-y divide-border bg-filled border border-border rounded mx-auto my-4 h-min max-w-md w-[calc(100%-2rem)]">
  <header class="flex flex-col gap-4 p-4 text-center">
    <h2>You will no longer receive emails.</h2>
    <p>You can undo this action at any time by visiting this URL again.</p>
  </header>
</main>
<% content_for :footer do %>
  <%= default_footer_content %>
<% end %>
