<main class="grid divide-y divide-border bg-filled border border-border rounded mx-auto my-4 h-min max-w-md w-[calc(100%-2rem)]">
  <header class="flex flex-col gap-4 p-4 text-center">
    <h2>An error has occurred</h2>
  </header>
  <div class="flex flex-col gap-4 p-4">
    <%= @pre_auth.error_response.body[:error_description] %>
  </div>
</main>

<% content_for :footer do %>
  <%= render("doorkeeper/authorizations/footer", logged_in_user: logged_in_user) %>
<% end %>
