@layer base {
  :root,
  :host {
    color-scheme: light dark;
    @include globals;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
    vertical-align: bottom;
    background-origin: padding-box;
    border-style: solid;
    border-width: 0;
    --border: #{$border};
    --outline: #{$outline};
    @for $i from 1 through length($grays) {
      --gray-#{$i}: #{nth($grays, $i)};
    }
  }

  html,
  body {
    height: 100%;
    width: 100%;
    overflow-wrap: anywhere;
  }

  body {
    @include font-size(2);
    font-family: var(--font-family);
    font-feature-settings: "ss11", "ss04";
    background-color: var(--body-bg);
    -webkit-font-smoothing: antialiased;
    color: full-color(color);
  }

  @for $i from 1 through 5 {
    h#{$i} {
      @include font-size(6 - $i);
      font-weight: normal;
    }
  }

  a {
    color: var(--color);
    text-decoration: underline;
    cursor: pointer;
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  small {
    display: block;
    @include font-size(1);
  }

  hr {
    border: none;
    border-top: $border;
  }

  ol,
  ul {
    padding-left: spacer(6);
  }
}

[inert] {
  cursor: not-allowed;
  opacity: $disabled-opacity;
}

// Unset max-width for Rack::MiniProfiler results to (expectedly) expand beyond
// the narrow parent container.
.profiler-results * {
  max-width: unset;
}
